mixin portfolio-item(className, linkToInstagram, image, discription)
  .portfolio-item(class=className)
    a(href=linkToInstagram target='_blank')
        img(src=image alt=discription)
        .discription-container
            .discription
                p
                    span ______ 
                    <br>
                    span=discription
