mixin services-item(className, src, title, discription)
  .services-item(class=className)
    img(src=src alt=title)
    p.title=title
    .discription
        each item in discription
            p !{item}
